%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Mobile no:
  = @user.mobile_no
%p
  %b Date of birth:
  = @user.date_of_birth

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
